[submodule "backend"]
	path = backend
	url = https://github.com/SriramSrinivas/CYBR8470-building-a-webservice-lab-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SriramSrinivas/CYBR8470-building-a-webservice-lab-frontend.git
